<% unless expandVariable %>
  <%rat_ref = @rationale[reference]%>
  <% if rat_ref.is_a?(Hash) && (@specifics[@population_key] || @population_key == 'VAR')%>
    <%rat_ref = (rat_ref[:results].count > 0) %>
    <% if should_switch_highlight(reference, @population_key, @specifics, @rationale) %>
      *<%rat_ref = !rat_ref %>
    <% end %>
  <% end %>
  <span class="rationale eval-<%=rat_ref%>">
<% end %>

<% dataCriteria = measure[:hqmf_document][:data_criteria][reference] %>
<% #check attributes %>
<% unless dataCriteria %>
  <% dataCriteria = measure[:hqmf_document][:source_data_criteria][reference]%>
<% end %>

<% if dataCriteria %>
  <% if dataCriteria[:subset_operators] && dataCriteria[:subset_operators].length>0 %>
    <% dataCriteria[:subset_operators].each do |so| %>
      <%= render partial: 'subset_operator', locals: {subsetOperator:so, tag: "span"} %>
    <% end %>
  <% end %>


  <% if dataCriteria[:type] == 'derived' && (!dataCriteria[:variable] || expandVariable) %>
    <% if dataCriteria[:definition] == 'satisfies_all' ||  dataCriteria[:definition] == 'satisfies_any' %>
      <%= render partial: 'satisfies', locals: {reference: reference, measure:measure, tag: "span"} %>
    <% else %>
      <% if dataCriteria[:children_criteria]%>
        <% if dataCriteria[:derivation_operator] == 'INTERSECT' || dataCriteria[:derivation_operator] == 'UNION'%>
          <% unless expandVariable %>
            <ul><li><span class="set-op {{dataCriteria.key}} rationale-target">
              <%=dataCriteria[:derivation_operator]%> of:
            </span></li>
          <% end %>
        <% end %>
        <ul>
          <% dataCriteria[:children_criteria].each do |child| %>
            <% if (dataCriteria[:derivation_operator] == 'INTERSECT' ||dataCriteria[:derivation_operator] == 'UNION')%>
              <% if !expandVariable %>
                <li class="set-op-item">
              <% else %>
                <li>
              <% end %>
            <% else %>
              <li>
                <span class="conjunction {{../../dataCriteria.key}} rationale-target"><%= (dataCriteria[:derivation_operator] == 'XPRODUCT')? 'AND':'' %>: <span class="sr-only sr-highlight-status"></span></span>
            <% end %>
              <%= render partial: 'data_criteria', locals: {reference: child, expandVariable: false, measure:measure, tag: "span"} %>
            </li>
          <% end %>
          <% if dataCriteria[:temporal_references] %>
            <% dataCriteria[:temporal_references].each do |temp_ref| %>
              <li>
                <span class="{{../dataCriteria.key}} rationale-target">
                  <%= render partial: 'temporal_reference', locals: {temporalReference: temp_ref, measure:measure, tag: "span"} %>
                </span>
              </li>
            <% end %>
          <% end %>
        </ul>
        <% if dataCriteria[:derivation_operator] == 'INTERSECT' || dataCriteria[:derivation_operator] == 'UNION'%>
          <% unless expandVariable %>
            </ul>
          <% end %>
        <% end %>

      <% end %>
    <% end %>
  <% else %>
    <span class="criteria-title">
      <% if dataCriteria[:specific_occurrence] && !(dataCriteria[:description].include? "Occurrence")%>
        Occurrence <%= dataCriteria[:specific_occurrence] %>:
      <% end %>
      <% if dataCriteria[:variable] && !(dataCriteria[:description].include? "$")%>$<% end %><%= dataCriteria[:description] %>

      <% if dataCriteria[:value] && dataCriteria[:type]!= 'characteristic'%>
        <%= render partial: 'value', locals: {value:dataCriteria[:value], rangeComparison: "", measure:measure, tag: "span"} %>
      <% end %>

      <% if dataCriteria[:field_values] %>
        <% dataCriteria[:field_values].each do |key,value| %>
          <% #ANYNonNull type means field value type %>
          <% if value[:type] == 'ANYNonNull' %>
            (<%=HQMF::DataCriteria::FIELDS[key][:title]%>)
          <% else %>
            <%= render partial: 'value', locals: {value: value, rangeComparison: "", measure: measure, tag: "span"} %>
          <% end %>
        <% end %>
      <% end %>

      <% if dataCriteria[:references]%>
        <% dataCriteria[:references].each do |key,reference|%>
          <%= key %> <%= reference[:referenced_criteria][:description] %>
        <% end %>
      <% end %>

      <% if dataCriteria[:negation]%>
        <% valueSets = HealthDataStandards::SVS::ValueSet.where(oid: dataCriteria[:negation_code_list_id]) %>
        <% valueSets.each do |set| %>
          (Not Done: <%= set[:display_name] %>)
        <% end %>
      <% end %>

      <span class="sr-only sr-highlight-status"></span>
    </span>
    <% if dataCriteria[:temporal_references] %>
      <% if dataCriteria[:temporal_references].length > 1 %>
        <ul class="multi-statement">
          <% dataCriteria[:temporal_references].each do |temp_ref| %>
            <li><%= render partial: 'temporal_reference', locals: {temporalReference: temp_ref, measure: measure, tag: "span"} %></li>
          <% end %>
        </ul>
      <% else %>
        <% dataCriteria[:temporal_references].each do |temp_ref| %>
          <%= render partial: 'temporal_reference', locals: {temporalReference: temp_ref, measure: measure, tag: "span"} %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<% unless expandVariable %>
  </span>
<% end %>
