<div class="radio">
  <label class="radio" for="none" title="both">
    <input required class="proradio" type="radio" name="program" value="none" id="none"> None
  </label>
</div>
<div class="program-type">EH Programs</div>
<% programs['eh'].each_with_index do |program, index| %>
  <div class="radio">
    <label for="<%="eh#{index}_#{year}"%>" class="radio" title="<%= "#{program[1]}" %>">
      <input required class="proradio" type="radio" name="program" value="<%= "#{program[2]}" %>" id="<%="eh#{index}_#{year}"%>"><%= "#{program[0]}" %>
    </label>
  </div>
<% end %>
<div class="program-type">EP Programs</div>
<% programs['ep'].each_with_index do |program, index| %>
  <div class="radio">
    <label for="<%="ep#{index}_#{year}"%>" class="radio" title="<%= "#{program[1]}" %>">
      <input required class="proradio" type="radio" name="program" value="<%= "#{program[2]}" %>" id="<%="ep#{index}_#{year}"%>"><%= "#{program[0]}" %>
    </label>
  </div>
<% end %>
