<span class="criteria-title">
  <% dc_access = measure[:hqmf_document][:data_criteria] %>
  <% data_criteria = dc_access[reference] %>
  <% if data_criteria && data_criteria[:children_criteria] %>
    <% unless data_criteria[:has_parent] %>
      <% root_criteria = first_nested_criteria(dc_access[data_criteria[:children_criteria][0]]) %>
      <% if root_criteria[:specific_occurrence] && !(root_criteria[:description].include? "Occurrence") %>
        Occurrence <%= root_criteria[:specific_occurrence] %>:
      <% end %>
      <% if root_criteria[:variable] && !(root_criteria[:description].include? "$") %>$<% end %><%= root_criteria[:description] %>
    <% end %>
    <span class="sr-only sr-highlight-status"></span>
    <% if data_criteria[:definition] == 'satisfies_all' %>
      SATISFIES ALL
    <% end %>
    <% if data_criteria[:definition] == 'satisfies_any' %>
      SATISFIES ANY
    <% end %>
    <ul class="multi-statement">
      <% data_criteria[:children_criteria].each do |child| %>
        <li>
          <span class="sr-only sr-highlight-status"></span>
          <%= render partial: 'data_criteria', locals: {reference: child, expand_variable: false, measure: measure, tag: "span"} %>
        </li>
      <% end %>
      <% if data_criteria[:temporal_references] %>
        <% data_criteria[:temporal_references].each do |temp_ref| %>
          <li>
            <% sat_rat_ref = final_rationale_ref(reference)%>
            <span class="sat rationale-target rationale eval-<%= sat_rat_ref %>">
              <%= render partial: 'temporal_reference', locals: {temporal_reference: temp_ref, measure: measure, tag: "span"} %>
            </span>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</span>
